@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(135deg, #b09981, #e6d3b3);
    color: #3E2723;
}

/* HEADER */

header {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
                url('fond_raye.jpg');
    background-size: cover;
    background-position: center;
    padding: 120px 20px;
    text-align: center;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 4rem;
    color: white;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}

/* TITRES */

h2 {
    font-family: 'Great Vibes', cursive;
    text-align: center;
}

h2 {
    background: linear-gradient(90deg, #3E2723, #5d4037);
    color: #fff;
    padding: 12px;
    border-radius: 15px;
    margin-bottom: 15px;
}

/* INGREDIENTS */

#liste {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#liste section {
    background: rgba(255,255,255,0.9);
    padding: 20px;
    border-radius: 20px;
    width: 280px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
    transition: 0.4s;
    margin-bottom: 20px;
}

#liste section:hover {
    transform: scale(1.05);
}

/* ETAPES */

#prep section {
    background: rgba(255,255,255,0.95);
    margin: 25px auto;
    padding: 20px;
    border-radius: 20px;
    max-width: 1100px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}

#prep section div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

img {
    width: 180px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* BOUTON REVENIR AU MENU */
.btn-menu {
    display: inline-block;
    background: #3E2723;
    color: #fff;
    font-weight: bold;
    padding: 12px 25px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
}

.btn-menu:hover {
    background: #5d4037;
    transform: scale(1.05);
}


/* FOOTER */

footer {
    background: #3E2723;
    color: white;
    text-align: center;
    padding: 35px;
    margin-top: 40px;
}

/* RESPONSIVE */

@media (max-width: 768px) {
    #prep section div {
        flex-direction: column;
        text-align: center;
    }

    img {
        width: 150px;
    }

    h1 {
        font-size: 2.8rem;
    }
}
